[submodule "3rd/Simd"]
	path = 3rd/Simd
	url = https://github.com/ermig1979/Simd.git
	ignore = dirty
	branch = master
[submodule "3rd/openvino"]
	path = 3rd/openvino
	url = https://github.com/openvinotoolkit/openvino.git
	branch = releases/2024/6
	ignore = dirty
[submodule "3rd/onnxruntime"]
	path = 3rd/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
	branch = rel-1.23.1
	ignore = dirty
[submodule "3rd/Cpl"]
	path = 3rd/Cpl
	url = https://github.com/ermig1979/Cpl.git
