[submodule "3rd/Simd"]
	path = 3rd/Simd
	url = https://github.com/ermig1979/Simd.git
	ignore = dirty
[submodule "3rd/darknet"]
	path = 3rd/darknet
	url = https://github.com/ermig1979/darknet.git
	ignore = dirty
[submodule "3rd/blis"]
	path = 3rd/blis
	url = https://github.com/ermig1979/blis.git
	ignore = dirty
[submodule "3rd/stb"]
	path = 3rd/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd/openvino"]
	path = 3rd/openvino
	url = https://github.com/openvinotoolkit/openvino.git
	branch = releases/2021/1
