[submodule "3rd/Simd"]
	path = 3rd/Simd
	url = https://github.com/ermig1979/Simd.git
	ignore = dirty
[submodule "3rd/blis"]
	path = 3rd/blis
	url = https://github.com/ermig1979/blis.git
	ignore = dirty
[submodule "3rd/stb"]
	path = 3rd/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd/openvino"]
	path = 3rd/openvino
	url = https://github.com/openvinotoolkit/openvino.git
	branch = releases/2022/1.1
	ignore = dirty
[submodule "3rd/onnxruntime"]
	path = 3rd/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
	branch = rel-1.11.1
	ignore = dirty
[submodule "3rd/Cpl"]
	path = 3rd/Cpl
	url = https://github.com/ermig1979/Cpl.git
